* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #5ccda7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  height: auto;
  margin: 5rem auto;
  background-color: #fff;
  box-shadow: #c0bdbd 0 5px 10px;
}

.todo,
.task {
  border-bottom: 2px solid #c0bdbd;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

textarea {
  all: unset;
}

.title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.clear {
  background-color: #eee;
  justify-content: center;
}

.clear:hover {
  background-color: #f4f4f4;
}

.checkbox {
  border: 3px solid #f4f4f4;
}

input::placeholder {
  font-style: italic;
}

.btn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f4f4f4;
}

.update {
  margin-right: 16px;
}

.tasktext {
  padding-top: 10px;
  width: 100%;
}
